@font-face{
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: roboto;
}

*{
    color: #555;
    font-family: roboto;
}
body{
    margin-top:10px;
    background-color: #e2e8f0;
    font-size: 16px;
    font-weight: 400;
}

/* ==========================================================================
   #FONTS
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 39px;
}

h2 {
    font-size: 33px;
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}



/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn-verde {
    background-color: #068a48;
    color: white;
    border-radius: 5px;
    padding: 5px;
    
    
}




/* ==========================================================================
   #TITLE
   ========================================================================== */
.titulo {
    font-size: 20px;
    color: #525252;
    font-weight: 400;
    margin-bottom: 40px;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
form h1{
    font-size: 20px;
    margin-bottom: 25px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.input-form {
    line-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
form input[type="submit"]{
    margin-top: 15px;
    background-color: #068a48;
    color: white;
}

#navbarNav ul li a i{
    color: white;
}