/* 
    Created on : 26 de mar de 2023, 23:56:53
    Author     : ximana
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
}



.login form .form-group{
    margin-bottom: 12px;
}